geographiclib==1.52
geopy==2.2.0
networkx==2.8.5
PyHamcrest==2.0.3
setuptools-scm==7.0.5
simpy==4.0.1
pandas
openpyxl
fastapi
jinja2
uvicorn
python-multipart
aiofiles
psutil
requests
searoute
scikit-learn
pydantic